@{
    ViewBag.Title = "About";
}

<h2 class="text-center h1">About Us</h2>

<p class="text-center h3">
    FFurniture is a platform that helps you to sell your furniture fast and secure at your own price.
    You can create your own products that you want to sell. Or you can purchase one of those that already exist in our platform.
    Moreover, you can create your own category. Good Luck!
</p>